// Variables
$color-black: #090b08;
$color-white: #fff;
$color-gray: #c3cfe2;
$color-purple-blue: #686de0;
$padding-standard: 20px;
$color-purple: #b0abf1;

@mixin standard-text {
  max-width: 500px;
  text-align: left;
  padding-top: 2em;
  font-family: "Trebuchet", sans-serif;
  font-size: 25px;
  color: #5f5e5e;
  line-height: 40px;
}

@mixin footer-text {
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    color: $color-white;
    line-height: 20px;
    font-family: "Gill Sans MT";
    font-weight:500;
    margin: 20px auto;
    }

    h2 {
        color: $color-purple;
        font-size: 25px;
    }

@mixin small-text {
    max-width: 200px;
    text-align: left;
    padding-top: 2em;
    font-family: "Trebuchet", sans-serif;
    font-size: 15px;
    color: #5f5e5e;
    line-height:25px;
  }

@mixin footer-small-text {
    max-width: 200px;
    text-align: center;
    padding-top: 2em;
    font-family: "Trebuchet", sans-serif;
    font-size: 15px;
    color: $color-white;
    line-height: 25px;
  }